*~
Makefile
Makefile.in
autom4te.cache
config.log
config.guess
config.h
config.h.in
config.status
config.sub
configure
aclocal.m4
stamp-h1
libtool
ltmain.sh
missing
INSTALL
depcomp
install-sh
compile
*.tar.gz
intltool-extract.in
intltool-merge.in
intltool-update.in
mkinstalldirs
capplet/*.o
capplet/.deps
capplet/vino-preferences
capplet/vino-preferences.desktop
capplet/vino-preferences.desktop.in
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
po/*.gmo
po/vino.pot
server/*.o
server/.deps
server/vino-enums.*
server/vino-marshal.*
server/dbus-interface-glue.h
server/vino-server
server/vino-server.desktop
server/vino-server.desktop.in
server/vino-server.schemas
server/org.gnome.Vino.service
server/libvncserver/*.o
server/libvncserver/*.lo
server/libvncserver/.deps
server/libvncserver/.libs
server/libvncserver/libvncserver.la
server/libvncserver/ifaddr/.deps
server/miniupnp/*.o
server/miniupnp/*.lo
server/miniupnp/.deps
server/miniupnp/.libs
server/miniupnp/libminiupnp.la
tools/*.o
tools/.deps
tools/vino-passwd
